* {
    font-family: 'Roboto Mono', monospace;
    color: #007acc;
}

#header {
    font-size: 36px; 
    padding: 16px;
}

body {
    padding: 0px 0px;
    margin: 0px 0px;
    text-align: center;
    background-color: #393939;
}

#main-container{
    display: flex;
    justify-content: center;
}

#sketchpad-container {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    border: 8px solid rgb(30, 30, 30);
    width: 500px;
    height: 500px;
}

#sketchpad-container:hover{
    cursor:crosshair;
}

#options-1,
#options-2 {
    display: inline-block;
    align-items: center;
    width: 200px
    
}

#current-size {
    font-size: 24px;
}

.box {
    font-size: 0;
    width: 30px;
    height: 30px;
    background-color: #888787;
    flex:1 0 0;
}

.box-hover:hover {
    background-color: #b8b8b8;
}

.colored {
    background-color: black;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #555555;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

img {
    width: 20px;
    height: auto;
    display: flex;
}

.row{  
    flex:1 0 0;
    display: flex;
    justify-content: stretch;
    align-items: stretch;    
}
